/* Fade in page onload */
body { animation: fade-in 1s ease-in; }

/* Buttons */
button,
.button {
    text-decoration: none;
    padding: 0.25rem 1rem;
    margin: 0.5rem;
    font-size: 1.25rem;
    background: none;
    color: var(--color);
    border: 1px solid var(--text);
    transition: background 0.25s ease-in-out;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background: var(--accent);
}

.circle-btn {
    padding: 0.25rem 0.625rem;
    border-radius: 50%;
}

.circle-btn:hover,
.circle-btn:focus {
    background: var(--text);
}

/* Inputs */
.input-group {
    display: inline-block;
    margin: 1rem;
    vertical-align: top;
}

input, option, select, textarea {
    margin-top: 0.5rem;
    color: var(--text);
    background: var(--background-accent);
    border: var(--background-accent) solid 0.125rem;
    padding: 0.5rem;
}

input {
    width: 12.5rem;
}

select {
    width: 13.75rem;
}

textarea {
    width: 12.5rem;
}

label {
    font-size: 1.25rem;
    margin: 1rem 0;
}